.iconoprincipals{
  width: 6rem;
}
.barranav{
  height: 80px;
  background-color: red;
}
.socialnet{
  width: 30px;
}
.viajes{
  width: 100%;
  height:50%;
}
.imgcentral{
  width: 100%;
  height: 100%;
}
.contenedorimg{
height: 100%;
}
.imgpublicacion{
  float: left;
  padding-bottom: 0px;
  border-bottom: 0px;
  padding-top: 20px;
}
