.iconoprincipals{
  width: 6rem;
}
.barranav{
  height: 80px;
  background-color: red;
}
.socialnet{
  width: 30px;
  z-index:0;
}
.viajes{
  width: 100%;
  height:50%;
}
.imgcentral{
  width: 100%;
  height: 100%;
}
.contenedorimg{
height: 100%;
}
.imgpublicacion{
  float: left;
  padding-bottom: 0px;
  border-bottom: 0px;
  padding-top: 20px;
}
.text-publicaciones{
    font-size: 1.3em;
}
.linea{
  border-bottom: 2px solid black;
  }
.img-perfil{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
body{
  background-image: url(https://ep00.epimg.net/elpais/imagenes/2018/05/08/album/1525772427_299226_1525783931_album_normal.jpg);
  background-size: 100% auto;
  background-position:center;
  background-attachment: fixed;
}
.fondo{
  height: 80px;
  width: 100%;
  position:fixed;
  z-index:-10;
}
.trasfondo{
  z-index:5;
}
